*.sqlite
*.db


### /home/kyle/.gitignore-boilerplates/Python.gitignore

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


### /home/kyle/.gitignore-boilerplates/Global/vim.gitignore

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### /home/kyle/.gitignore-boilerplates/Global/Linux.gitignore

.*
!.gitignore
*~


### /home/kyle/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /home/kyle/.gitignore-boilerplates/Global/Windows.gitignore

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/


### /home/kyle/.gitignore-boilerplates/Global/VirtualEnv.gitignore

# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts


### /home/kyle/.gitignore-boilerplates/Global/Emacs.gitignore

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


